[2015-03-23 11:46] pfac opened #2 "Step function names"
Hey,

Was just checking this project and while it seems very interesting the decision to append an underscore to the names of the functions handling the steps strikes me as very odd.

Is there a particular reason why you had to do this (and I missed it) or is it just a design preference?

Cheers

[2015-03-23 11:48] meadsteve commented on #2
@pfac I would actually prefer to not have the underscores too. However ```when``` is already taken by guard clauses. Any alternative suggestions are welcome.

[2015-03-23 12:25] pfac commented on #2
@meadsteve never realized that you couldn't have a function named `when`. Makes perfect sense then.

As for suggestions, I apparently have a few (all ocurred while writing this reply :stuck_out_tongue_closed_eyes:).

### Generic step function

You could use a generic step handling function for when, like

    step "when", ...

and leaving `then` and `given` as alias functions. But I understand tha

[2015-03-23 14:30] meadsteve commented on #2
Good suggestions. I think I'll keep this issue open (at least for now) as I think it'll be good to nail this down before I bump the version to ```1.0.0```.

I quite like your step suggestion. So the definitions could look like:
[code]
My only concern is that it adds more text/noise to the file.

[2015-03-23 15:40] pfac commented on #2
Agree, it does add some noise. I was here trying to explore an approach with module attributes, or using a tuple list like in Ecto, but it seems you can't make a module attribute `@when`, and the tuple list even adds more noise.

There is also the alternative of imitating the language itself, and use macros `defstep`, `defwhen`, `defgiven`, ...

[code]

Since you are clearly more experienced than

[2015-03-27 13:36] danmarcab commented on #2
Hi,
Or maybe you could do the same as in the ruby gem turnip https://github.com/jnicklas/turnip.
Every `When`, `Given`, `And` ... is just implemented as a `step`. That way you can reuse the same step for different contexts.

[2015-03-28 08:34] meadsteve commented on #2
@danmarcab I'm not sure I'm very keen on the turnip approach. Most other gherkin/cuke implementations separate out the given/when/then from the rest of the string to be matched. This approach makes sense to me as the first word in the step has a special meaning.

As an aside behind the scenes all the Given, Whens etc get treated the same anyway.

[2015-03-29 12:52] danmarcab commented on #2
Fair enough @meadsteve, at the end it's a matter of flavour, I was just giving you another alternative :+1:

[2015-03-29 14:30] meadsteve commented on #2
@danmarcab no worries.  Thank you for the suggestion/alternative.

[2015-06-16 10:26] meadsteve commented on #2
I've been thinking about this and I think I'm going to leave them as they are for now.

[2015-06-16 10:26] #2 closed

[2015-08-25 17:52] jurriaan opened #9 "Start application before running features"
Is it intentional that I have to boot my application manually?

I copied some statements from ExUnit to get my application up and running (so I could use it within the features). See
https://github.com/elixir-lang/elixir/blob/deb0eb44f2c352f46c0edc89ac819d3f4df96b10/lib/mix/lib/mix/tasks/test.ex#L148-L168

[2015-08-26 07:53] meadsteve commented on #9
@jurriaan to be honest it's not really intentional or unintentional at the moment. I hadn't really made a decision about this.

How would you expect it to work? Would you expect it to always start the application it's testing?

I've been thinking there are some use cases when you may not want/need it to. For example if you are just using cucumber to define the business logic of your modules outsid

[2015-08-26 14:09] ericmj commented on #9
`mix test` always start the application unless you pass `--no-start`.

[2015-08-26 14:17] meadsteve commented on #9
@ericmj good point. So I guess the least surprising thing is to do the same here.

[2015-08-26 14:28] jurriaan commented on #9
@meadsteve :+1:

[2015-08-27 08:02] meadsteve opened #11 "Add module docs"
I've been lazy and I feel bad.

[2015-08-29 07:43] #9 closed

[2015-08-29 07:46] meadsteve commented on #9
@jurriaan this is fixed now in master but  I haven't released it to hex.pm yet.

[2015-09-26 19:27] oldfartdeveloper opened #16 "How do I test that a process has received a message?"
The **[ExUnit.Case](http://elixir-lang.org/docs/v1.0/ex_unit/ExUnit.Case.html)** documentation shows how a `context` object can be set up and, in the example, be populated in the `setup` etc as shown here:

[code]

Where do I do those setups in the `default_context.exs` file that I've copied from yours?  The relevant part of the code I'm trying to figure out how to implement this in is:

[code]

W

[2015-09-27 09:29] meadsteve commented on #16
Hi @oldfartdeveloper (side note: I feel bad typing your name :smile: ) firstly I'm glad you've been enjoying using this tool.

I've not actually used white bread to assert any message sending myself yet. However regarding the setup callback I think this is mainly my fault on the documentation. There are already two possible points that could be used:

The first is executed when each feature starts

[2015-09-27 10:04] meadsteve opened #18 "Add elixir 1.1.0 to tests"
This is currently blocked by the dogma style testing tool not supporting 1.1.0. However I believe everything should work.

[2015-09-28 05:13] oldfartdeveloper commented on #16
Hi Steve,

I like your answer. After some hard thinking about it, I realize that I missed how `ExUnit.Case` sets up the `context` object; I missed that it passes it in as an argument to the `test` statement.

So you are correct: I simply need to do something similar using one of your "starting states" and it should work fine.

I'll try it and let you know how it goes.  If it works, I'll submit a P

[2015-09-30 08:06] meadsteve opened #20 "Simplify the macros in context"
They feel much more complicated than they need to be.

[2015-10-14 16:19] bencates opened #21 "Parser chokes on Gherkin comments"
Gherkin allows line comments, but white-bread chokes on them when parsing.

Given the file `features/test.feature` with content:

[code]

White Bread's parser produces the following error

[code]

[2015-10-14 18:56] meadsteve commented on #21
Would you believe I've not got any test cases with a comment in them. I'm taking a look now as it shouldn't be too difficult. Thanks for reporting this :+1:

[2015-10-14 19:21] meadsteve commented on #21
Fixed via 58074fdc65bb977af6c828c4d3229eaff958e326

[2015-10-14 19:22] meadsteve commented on #21
I'll be releasing this as a version soon.

[2015-10-14 19:22] #21 closed

[2015-10-14 19:22] #16 closed

[2015-10-14 19:36] meadsteve opened #22 "Add dogma linter back to project"
#19 removed dogma as it was not 1.1.0 compatible. A newer version of dogma is now available that is so it should be added back.

[2015-10-14 19:48] #18 closed

[2015-11-18 07:17] leiyangyou opened #26 "Progress report behaviour is a bit weird"
Hi @meadsteve

I'm running a couple hound test with white-bread,
it looks like progress reporting doesn't happen as each scenario is run but happens each feature is run

[2015-11-19 06:04] leiyangyou opened #27 "All features passed displayed before feature results are shown when using tags"

[2015-11-19 08:35] meadsteve commented on #27
@leiyangyou sorry I'm not sure I understand what the issue is. Could you give an example or try rewording the issue?

[2015-11-19 08:35] meadsteve commented on #26
@leiyangyou thanks I'll take a look. I've not really given much attention to the progress reporting.

[2015-11-19 08:40] leiyangyou commented on #27
Hi @meadsteve,

here is an example output, initially I thought it was to do with the usage
of tags. looks like that's not the case

mix white_bread.run

[code]

On 19 November 2015 at 16:35, Steve B <notifications@github.com> wrote:

[2015-11-19 08:43] meadsteve commented on #27
@leiyangyou that makes sense. Thanks for clarifying. I think it's because the progress reporter listens to messages and outputs asynchronously yet the feature result is directly output by the main process meaning it can happen before the progress reporter has printed all the other results.

I'll take a look at reworking this as it doesn't make any sense for ```All features passed``` to be printed

[2015-11-19 09:31] meadsteve commented on #27
@leiyangyou this should be fixed by 2e4fe9b87eba089210f222ee95d91cf66e1a6870

[2015-11-19 11:57] leiyangyou commented on #27
Thanks @meadsteve

On 19 November 2015 at 17:31, Steve B <notifications@github.com> wrote:

[2015-11-20 09:49] meadsteve commented on #26
This is fixed by ace0feb0595196d8adcd2cccabe912b925954b8a
I'll be releasing this and #27 as a patch release in the next few days.

[2015-11-20 09:49] #26 closed

[2015-11-20 09:49] #27 closed

[2015-12-16 16:09] javflores opened #28 "Failures appear in red"
I'm trying Whitebread to write my acceptance tests.
One of the things I noticed is that failures don't appear in red in the console.

Is it possible to set up colors for the output of tests?
If not I'm happy to submit a pull request to implement that.

[2015-12-17 08:13] meadsteve commented on #28
@javflores to be honest I just never got around to adding colours to the console. Happy to receive a PR. A good starting point would be this module lib/white_bread/outputers/console.ex as it handles output to the console.

[2015-12-27 09:20] meadsteve commented on #28
Fixed by #29 released in 2.2.0

[2015-12-27 09:20] #28 closed

[2016-01-02 15:16] meadsteve opened #30 "Allow steps that don't change the state to return :ok"
:ok instead of {:ok , state} seems more expressive when no state change is happening.

[2016-01-05 22:05] meadsteve commented on #30
This was actually already possible but only by accident. I've now coded explicitly for it and added a test in e770718de03b4c8d8acd81200cbe7dba74beda

[2016-01-05 22:05] #30 closed

[2016-01-16 08:42] meadsteve opened #31 "Create config for mapping multiple contexts on to features [Suites]"
Inspired by the suites concept in behat:
http://docs.behat.org/en/latest/guides/5.suites.html
There should be some core config file that looks like the following:
[code]

[2016-01-16 08:45] meadsteve opened #32 "End user documentation"
Currently only the README.md. This is woefully incomplete.

[2016-01-16 11:12] rkotze commented on #31
Just to clarify a few of things most with the pluralisation as its not so obvious in the documentation: Lets take for example `core_features`:

- The `paths` property points to a directory containing `.feature` files - but can I list multiple paths?
- Then `contexts` points one context file in that directory or can you list multiple context files there?
- Also would I be able to run all the tests

[2016-01-16 11:56] meadsteve commented on #31
@rkotze good clarifications. I've update the example in the description appropriately.

I think Paths and Contexts should both allow multiple entries. It seems to me to give the most flexibility without losing any explicitness.

Regarding running I imagined that that ```mix whitebread.run``` would by default run all suites and then ```mix whitebread.run --suite specific_suite``` would run only the

[2016-01-17 08:55] meadsteve commented on #31
Though actually on reflection, as the contexts define the starting state I may force people to use a single context as an entry point. They could still be composed of multiple contexts using:
[code]

[2016-01-18 08:25] meadsteve opened #33 "Add setting for "one context per feature file""
After discussions with @rkotze we've decided that some users have use case of one context per feature file. This can follow on from the work in #31 and could work by having the following as a config:
[code]

This would then scan the features and map the paths such that ```feature/directory/my_thing.feature``` loads context ```WhiteBread.Example.Directory.MyThingContext```

[2016-01-18 17:14] meadsteve commented on #33
I also don't see any reason why this can't be combined with extra suites:
[code]

[2016-01-19 09:06] rkotze commented on #33
@meadsteve This looks great :+1:

[2016-01-21 08:26] #31 closed

[2016-01-21 08:29] meadsteve commented on #33
Thinking about this a bit more it might be useful to have an (optional?) path here:
[code]
If this is ommited then I think it would just load everything in features/

[2016-01-23 15:44] #22 closed

[2016-01-25 19:15] rkotze commented on #33
Is the path in the example the place where to start looking for the features?
Maybe instead of the namespace we use the path as the point to start and anything that has a feature file gets loaded in with the matching context.exs file?

[2016-01-26 08:55] meadsteve commented on #33
@rkotze maybe namespace isn't the right key. namespace_prefix maybe? in the example I gave it would .for a feature called ```features/something/thing.feature```, load ```WhiteBread.Example.Thing```.

Regarding context file loading: if the context files (as .ex) are in the lib/ they will get compiled by mix as normal. I've also added code so that any .exs files in ```features/contexts``` get loaded

[2016-01-26 09:16] meadsteve opened #36 "Replace setup and finalize macros with straight functions"
Taken from https://www.reddit.com/r/elixir/comments/42mvx3/feedback_request_multiple_suite_runs_in/

I'm thinking there's a bit too much macros going on. For example:
[code]

You might perhaps instead do:
[code]
That would perhaps be more Elixir like... I realize you might have some issues doing regexps like this, but I do think it would be worthwhile to spend more time on syntax here.

[2016-01-26 09:18] meadsteve commented on #36
This very much relates to #20

[2016-01-31 09:48] meadsteve commented on #36
After thinking about this I've decided to ensure that the DSL always stays as a level above the straight functions but is never required. PR #37 made a few small changes and defined a behaviour that any context can implement. This makes the DSL totally optional.

[2016-01-31 09:48] #20 closed

[2016-01-31 14:21] javflores commented on #33
Hi @meadsteve, thanks for this great framework! I'm trying to use this new functionality.

This is my config.exs:
[code]

Then under features/context folder I have several files named: computers_play_game_context.exs and human_versus_computer_game_context.exs

My features live in the features folder: computers_play_game.feature and human_versus_computer_game.feature

In the mix file of my app I ha

[2016-01-31 14:35] meadsteve commented on #33
@javflores two things.
* (Documentation issue.) With the suite config you don't need to specific the contexts at all as flags. It should automatically load each context from the suite config. So :
[code]

* Automatic one context per feature file hasn't actually been implemented yet. So the suite config you have will run all all features against the supplied context so maybe instead you want to mov

[2016-01-31 18:20] javflores commented on #33
Thanks for the answer @meadsteve. Great to have this framework to write acceptance tests in Elixir apps.

[2016-02-01 11:20] meadsteve commented on #33
@javflores no problem! When I get some time I'd love to improve(/actually add some) the documentation. It's really useful to know what problems people have run in to as this is something that could be addressed with a better "getting started guide".

[2016-02-08 15:55] revati opened #40 "Restarting process for each scenario"
Hello, i have problem with restarting process for each scenario. I am stuck :(

[code]

[code]

[code]

[2016-02-08 22:14] #33 closed

[2016-02-08 22:29] meadsteve commented on #40
@revati I don't have time to look at this until later in the week but two things you could try are:

1. Calling GenServer.stop(server) instead of call.
2. Not using a named genserver. Then you don't need to stop it at all. You can keep the pid for the genserver in the state so you don't need the name.

[2016-02-09 06:29] revati commented on #40
Thansk for response :)

I found where was problem and it wasn't in your library. Child process was linked, so it should be stoped with `:normal` to not affect parent processes.

I changed
[code]

[2016-02-09 06:29] #40 closed

[2016-02-09 07:25] meadsteve commented on #40
Thanks for letting me know. I wonder if I should trap exits by default so this wouldn't happen. I'll take a look at what exunit does

[2016-02-09 07:40] meadsteve opened #41 "Trap exits and fail the scenario"
This is to make what happened in #40 clearer

[2016-02-26 13:43] #36 closed

[2016-03-04 09:54] revati opened #44 "scenario_starting_state too late"
Hello, i have problem when running tests.

I start my database in memory before each scenario. When scenario finishes i kill that task.
[code]

I also have supervised database GenServer which, as i understand, because of beeing supervised, is started immediately after application is started. But it can't connect to db port, because db isn't started yet.

So how could i make sure that db is started

[2016-03-04 10:01] burmajam commented on #44
I think you should start event_store in test/test_helper.ex file before ExUnit.start call

[2016-03-04 10:09] revati commented on #44
It doesn't seem to work. When i run `mix white_bread.run` it ignores `test/test_helper.exs` file. I tried to put there `IO.inspect` and even break syntax.

Nothing changed.

[2016-03-04 10:13] burmajam commented on #44
How about creating your own mix task then which would start event_store and then run mix test task? I'm just thinking loud. Take a look @ http://elixir-lang.org/docs/stable/mix/Mix.Task.html for more info how to create your own mix task.

[2016-03-04 12:36] meadsteve commented on #44
@revati you could run white_bread with the ```--no-start``` (https://github.com/meadsteve/white-bread/blob/master/lib/mix/tasks/white_bread.run.ex#L64) option.
Then in feature or scenario starting function you could start the db then start your app manually after waiting for the db to come up.

Does that help? Or have I misunderstood the issue?

[2016-03-20 16:02] meadsteve commented on #44
@revati Are you still having this problem?

[2016-03-20 17:19] meadsteve commented on #41
implemented by 4067990e06b21bb0cb13010c6bb7eb54e184f28c

[2016-03-20 17:19] #41 closed

[2016-03-31 19:43] gagalago opened #45 "create contexts directory"
when I run `mix white_bread.run` without `features/contexts` directory, I have this error:
[code]

[2016-04-01 15:45] Angry-Potato opened #46 "power_assert support"
I am currently using white_bread in conjunction with power_assert and notice the formatting for assertion failures isn't lined up correctly, I had a bash at fixing it locally and putting a newline in the WhiteBread.Formatter.FailedStep AssertionError test function like so:

  def text(_, step, assertion_failure) do
    %{text: step_text} = step
    %{message: assestion_message} = assertion_failure

[2016-04-05 19:05] revati commented on #44
It is ok now :)

[2016-04-05 19:05] #44 closed

[2016-04-06 06:20] meadsteve commented on #45
Thanks for raising this @gagalago I'll take a look. Seems like it might have been a regression in a recent commit

[2016-04-06 06:27] meadsteve commented on #46
@Angry-Potato the general output formatting is something that needs a lot of love. So I'd be more than happy to accept a PR with your suggestion :+1:

[2016-04-06 15:32] meadsteve commented on #45
@gagalago I've just tagged up and release version 2.6.1 that should fix your issue. Looks like I never had any code to create the directory if it didn't already exist.

[2016-04-09 13:51] gagalago commented on #45
thanks a lot

[2016-04-09 13:51] #45 closed

[2016-04-18 06:34] campezzi opened #49 "Support for async tests"
Is it possible to run features/scenarios concurrently in white-bread? If not, do you think it would be possible and/or simple to add that functionality into the library?

Thanks!

[2016-04-18 21:09] meadsteve commented on #49
@campezzi good idea! I've started implementing it here #50 . But I want to disable it by default and put it behind a config of some kind before I merge it in.

[2016-04-18 22:56] campezzi commented on #49
Yes, making everything async by default would probably have backward-compatibility issues (old features breaking due to changes to global state etc). I haven't looked into the source yet, but looking forward to help any way I can :)

[2016-04-23 13:56] meadsteve commented on #49
@campezzi @pragmaticivan I've released a basic version of this as 2.7.0.
By default everything will run as it was before. However any suite setup with the following config will have all features and scenarios run in their own processes:

[code]
https://github.com/meadsteve/white-bread/blob/master/features/config.exs#L13

[code]
https://github.com/meadsteve/white-bread/blob/master/features/config.e

[2016-04-27 22:57] campezzi commented on #49
Thank you for that - I'll give it a go!

[2016-04-28 06:38] meadsteve commented on #49
@campezzi any feedback let me know. I haven't used it myself very much.

[2016-05-03 09:22] follmann commented on #49
Hey Steve, I just begun using the async feature with Ecto 2.0 RC and Wallaby. It works, but in my setup errors get swallowed since the default timeout of 5000 ms of `Task.await` kicks in before. It would be good to be able to configure that timeout. Thanks!

[2016-05-03 09:34] meadsteve opened #52 "Task.await timeout potentially swallowing errors when running async"
Raised by @follmann https://github.com/meadsteve/white-bread/issues/49#issuecomment-216476743

[2016-05-06 09:57] meadsteve opened #54 "Parse "As a XXXX" in feature files"
Feature files often have thing like:
[code]
This "As a XXX" should be parsed in to the feature file so that suites can filter on it.
[code]

[2016-05-07 11:08] gagalago opened #55 "context per feature and tags"
when write context by feature, if I want to execute some feature selected by tags, the default context is used in place of the right one.

[2016-05-09 06:52] meadsteve commented on #55
@gagalago can you add an example of your suite config so I can replicate this bug?

[2016-05-09 06:57] #49 closed

[2016-05-09 07:43] meadsteve commented on #55
Also the command you use to execute white_bread as well.

[2016-05-10 07:09] meadsteve commented on #55
also it's worth noting that I'm missing functionality to combine tags on the command line with a suite configuration. So at the moment if ```--tags``` is added it automatically uses the default context: https://github.com/meadsteve/white-bread/blob/master/lib/mix/tasks/white_bread.run.ex#L59

[2016-05-10 17:31] gagalago commented on #55
Yes, that exactly my problem.

Le mar. 10 mai 2016 09:09, Steve B <notifications@github.com> a écrit :

[2016-05-11 06:59] meadsteve commented on #55
@gagalago 👍 thanks for confirming.

[2016-05-11 09:19] #54 closed

[2016-05-22 13:00] #52 closed

[2016-07-02 04:35] danielfoxp2 opened #58 "Providing steps definitions basic implementation when running a new feature."
I am trying to learn Elixir. Having some kind of obsessive-compulsive disorder I want to do it in a certain way. This includes cucumber. I look around and found your port of it. Great, made my day and I really appreciate the effort and the work done. So, before anything, thank you.

But I am missing some things that I take for granted, like the features and step_definitions directories, the sugges

[2016-07-02 11:14] danielfoxp2 commented on #58
Oh, I forgot to ask/suggest, but did you have tried to reach out cucumber team to show your work and perhaps get some help? I think it would be good to have feedback and even code from them. @aslakhellesoy in this [link](https://github.com/cucumber/cucumber/blob/master/docs/architecture/writing-a-new-cucumber.md) shows that they are very nice and could join in this effort. It would be very cool ha

[2016-07-02 14:44] meadsteve opened #59 "Output definitions for each undefined step not just the first in each feature"
as mentioned in #58.

[2016-07-02 14:49] meadsteve commented on #58
Hi @danielfoxp2. Firstly thank you for taking the time to raise an issue. I really appreciate it.

White bread already uses a features directory. Is there something I could do to make this clearer?
Would it help if I added a command like?
[code]

I added your feature above to a file called ```features/test.feature``` then ran ```mix white_bread.run``` and the output was:
[code]
then
[code]

So it

[2016-07-04 03:44] danielfoxp2 commented on #58
Thanks for your fast reply and action.

About the feature directory: Yes, White-Bread already has it. There is no need to make it clearer and the new command suggestion is not needed too. In fact, your suggestion comes, I think, because my text was not well formed (sorry hehe). I should've explained that I noted the feature directory exist and my focus was on step_definitions directory.

With your

[2016-09-08 16:13] ngw opened #62 "Database left dirty after every feature run"
Hello, I'm using white-bread to run features in my Phoenix project.
One of the features adds data to the DB using a simple form and Hound.
I would like the feature to run inside some kind of "transaction" and delete all data every after every run, is it possible?

My configuration is nothing fancy:
white-bread config.exs - https://gist.github.com/ngw/493d0fbe743fba3fa6766cbe29ecd38c
conn_case - ht

[2016-09-15 09:44] ngw commented on #62
Still, it's a little bit confusing on how to understand what to use and how.
This is what I got right now:

    scenario_starting_state fn state ->
      Hound.start_session
      state
    end

    scenario_finalize fn state ->
      Hound.end_session
      state
    end

    feature_starting_state fn ->
      Ecto.Adapters.SQL.Sandbox.checkout(Owl.Repo)
      Ecto.Adapters.SQL.Sandbox.mode(Owl.R

[2016-09-22 10:30] SamuelMV opened #63 "Support for tables in gherkin"
Hello, we have started to use white-bread for acceptance tests this week and we have some features (written long time ago) that use tables, for example:

    Scenario: Send message to external service
        Given the customer "Joe" that have an account with id "123456"
        When the customer send a message with the following data
            | origin id | destination id | destination name  |

[2016-09-22 15:46] SamuelMV commented on #63
Ok, we have found by chance that there is a table_data in the map with this information. Maybe is something that should be described in the docs or examples. Although we are quite new to Elixir, we'll try to help with this ;-)

[2016-09-23 09:18] ngw opened #64 "Always green when outline"
Hi, I've marked a scenario as a Scenario Outline, and even if I didn't even implement the steps when I ran it it was always green.
Is this wanted or a bug?

[2016-09-24 15:03] meadsteve commented on #64
Sounds like a bug to me. @ngw could you put a simple example here?

[2016-09-24 15:03] meadsteve commented on #63
@SamuelMV You're right I've somehow completely failed to document this in the readme!

[2016-09-26 08:54] ngw commented on #64
https://gist.github.com/ngw/0aaf615496fa6a5c041665febee09e02

[2016-09-29 13:10] #64 closed

[2016-09-29 13:10] meadsteve commented on #64
This is fixed in master but I'll cherry pick the changes back and do a release on 2.x

[2016-09-29 13:22] meadsteve commented on #64
Released as 2.8.1

[2016-09-29 13:24] meadsteve commented on #62
@ngw how did you get on with this? Did you find a way to tidy the DB up after each run? It might be a useful thing for me to document as part of an integration guide.

[2016-10-13 08:36] raysegantii opened #67 "Support for running with `--no-start`"
My project's application starts with a few workers that shouldn't start during testing. When I run `mix white_bread.run --no-start`, the context fails to find any module in the project.

Referring to https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/test.ex#L195 I've to fix it by:
[code]

I wonder why `white_bread.run` actually doesn't go through `test/test_helper.exs`, and t

[2016-10-13 15:16] raycheung commented on #62
@ngw I suspect your DB was still dirty because the sandbox connection didn't checked in back into the pool, which basically rollback the transaction.

I resolved similar issue with:
[code]

then:
[code]

[2016-10-19 09:07] meadsteve commented on #67
@raysegantii The initial reason I didn't use `test/test_helper.exs`, and `use ExUnit.Case` is that I wanted to keep it separate from exunit where as ex_spec is intended to wrap around exunit.

I'll take a look and see why running --no-start is causing problems

[2016-10-19 09:55] meadsteve commented on #62
I'm closing this issue for now as it's not directly an issue as it's how the software is intended to run but there's possible a future enhancement here. Maybe a package to provide a white-bread <> ecto integration.

[2016-10-19 09:55] #62 closed

[2016-10-19 09:56] #46 closed

[2016-10-21 11:11] shdblowers opened #71 "Async not working"
Hi,

Am trying to run my suites async, as so:
[code]

But I get the following output:
[code]

Am running white_bread version "2.8.1"

[2016-10-21 11:13] shdblowers commented on #71
Just had a look through some closed issues, can see in there `:run_async` is used as the key.

I was following the documentation on the `README.md`, which is incorrect.

[2016-10-21 14:02] meadsteve commented on #71
@shdblowers thanks for highlighting this. I'll update the README.

[2016-10-21 14:04] meadsteve commented on #71
fixed in 7c2aa914bfb3c407a47878926f99fccfaabf9c87

[2016-10-21 14:04] #71 closed

[2016-10-25 12:12] pgore commented on #63
@maedsteve would it be possible to have the documentation updated in the near future?

[2016-11-22 16:33] rameshrengasamy opened #72 "Is there a way to generate HTML report after the test runs?"
I am totally new to this language and i was giving it a try to do automation with this library. Is there a way to generate HTML report after the test runs?

[2016-11-23 10:38] meadsteve commented on #72
Hi @rameshrengasamy not at the moment. The feature set of this tool is quite limited at the moment.

[2016-11-26 06:40] marnen opened #73 "Scenario outlines don't set state properly"
I'm using scenario outlines in White-Bread 2.8.1, and it appears that unlike straight scenarios, the `scenario_starting_state` hook never sets the scenario starting state for outlines. Is there another hook I should be using for this purpose, or is this a bug?

[2016-11-28 08:55] meadsteve commented on #73
@marnen this sounds like a bug. My intention was that scenario_starting_state would be called for each scenario as part of the outline.

[2016-12-02 20:02] mgwidmann opened #74 "Scenario Start/End callbacks not fired in subcontexts"
Something like the following does not work:

[code]

It looks like here that steps are respected:
https://github.com/meadsteve/white-bread/blob/master/lib/white_bread/context/setup.ex#L9

But below the scenario start/end events are not (or maybe I'm wrong).

Either way I can't get the code in those events to start hound without coping and pasting it into each file. Also since the contexts are load

[2016-12-03 16:53] marnen commented on #73
Good to know. I'll try to fix it (although I'm a total beginner in Elixir...).

[2016-12-03 19:09] mgwidmann commented on #67
I think it would make the most sense to go through the test/test_helper.exs as this project can't possibly know how to properly setup the environment (which is what that helper file is for). Instead since the contexts are loaded first, each context must describe startup procedures such as this. I'd prefer it integrated with exunit more than it currently does.

[2016-12-04 06:56] marnen commented on #73
I think #76 will do the trick.

[2016-12-04 10:14] meadsteve commented on #74
@mgwidmann this was initially deliberate as I thought it'd be confusing to have lots of callbacks potentially triggering (and the required rules around ordering).

How I would implement this would be using plain functions/modules:
[code]

It'll mean a little boiler plate in each executed context but it'll make the order of what's happening very explicit.

Do you think it would make the intended us

[2016-12-04 10:16] meadsteve commented on #67
@mgwidmann from the general feedback I've had I think closer integration with exunit is the way forward. The current master is going to be a BC breaking v3 release so this is a good time for me to rework this.

[2016-12-04 21:30] marnen opened #78 "Scenario outlines don't do placeholder interpolation within tables"
If I have a scenario outline like this:
[code]
Cucumber puts "foo" in the data table, as expected. White Bread seems to put "&lt;name&gt;". I think this is a bug, and I'll try to fix it soon.

[2016-12-05 08:18] meadsteve commented on #78
Certainly looks like a bug to me. I haven't actually used Scenario outlines that much so there's definitely more scope for bugs. Again thanks for the 👀 on the project.

[2016-12-05 08:23] marnen commented on #78
You're most welcome...and thanks for creating a usable Elixir implementation of Cucumber!

I do use scenario outlines more than many other Cucumber users do, because I like to use them to show that two values should be the same. In other words, I like to use them for this sort of thing:

[code]

[2016-12-05 08:27] meadsteve commented on #73
This will be fixed thanks to #76. It will be released in the pending 3.x release.
I hope to have this release out for the end of the year (family life dependant).

[2016-12-05 08:27] #73 closed

[2016-12-05 18:37] mgwidmann commented on #74
Yeah, that would make it clearer for sure. I'd like though to not have to define a `scenario_starting_state` and `scenario_finalize` for each context and do something like `use GlobalContextHelper`, but it wont work because its not compiled yet. Would I have to put that into `test/support` (with the modification that phoenix adds to compile those in the test env)?

I'd prefer to not have to move c

[2016-12-05 18:53] mgwidmann commented on #67
Yeah in my mind, a `.feature` file should basically compile down to an exunit test IMO... That way something like:

[code]

With:

[code]

Would use macros to compile to:

[code]

As a nice to have it may even benefit to see this output in some respect. Testers get their Gherkin files, we get plain code to deal with... Win win for everyone.

[2016-12-06 08:23] meadsteve commented on #67
I've actually been thinking about this kind of thing for a while (though you've expressed it very eloquently). I was considering doing a bit of a spike rewrite of the tool that had a two step process (bit of a break from what I've seen in other cucumber implementations):

`mix white_bread compile`

 would use the contexts to build the test cases as you've shown from the features. These could then

[2016-12-06 08:28] meadsteve commented on #74
To be honest I never really anticipated there being that many contexts doing setup and finalise. The contexts are inspired by this cucumber implementation: http://behat.org/en/latest/user_guide/configuration/suites.html and when using this I've not normally seen more than a few top level contexts. Normally things like a WebContext and an APIContext (maybe a CLI context). Or a few different context

[2016-12-06 15:50] mgwidmann commented on #67
Yeah the only issue I can see from basically generating source files is that when you want to override the generated source it may get annoying to discard the changes it removes (your overrides). Which is why I am leaning to using macros to generate it and not generate the source.

I'd imagine instead of what you proposed, letting ExUnit take care of it all...

[code]

Then the user need only excl

[2016-12-07 04:48] mgwidmann opened #79 "RFC: DSL to ExUnit"
The primary purpose of this tool is to provide a way to execute Gherkin files as code. This needs to be done so transparently and as simply as possible. The best way to do this is to leverage all the capabilities provided by `ExUnit`.

### The major issues with this project:
As discussed here: https://github.com/meadsteve/white-bread/issues/67 and issues like https://github.com/meadsteve/white-bre

[2016-12-07 19:51] mgwidmann opened #80 "How to run a single file/scenario"
With cucumber you can do `cucumber features/my_feature.feature:123` to run a specific feature, but I don't know how to do that with white bread and theres nothing documented. I tried digging through the code a bit but couldn't find it...

[2016-12-08 13:14] meadsteve commented on #80
Basically missing functionality I've not added. Given a feature could be executed under any number of contexts I'm not sure what the expected behaviour of such a command would be.

[2016-12-08 14:36] mgwidmann commented on #80
IMO the ability to execute a feature under different contexts, while a nice feature, sacrifices basic usability. Debugging a test becomes exponentially more difficult when the entire suite has to run. Users coming from cucumber will expect to be able to do `mix white_bread.run features/something.feature:123`. Additionally, even within the Elixir ecosystem, this works with `mix test` for the same r

[2016-12-13 12:32] Dzol commented on #72
Hi @meadsteve,

I'd like to pick this up as we're running White Bread on a CI server where HTML reports would integrate well with the UI.

I hope these can make it into master:

### Minimal Modifications + Additions

* Reach out to configuration for fetching [formatters](https://github.com/meadsteve/white-bread/blob/master/lib/white_bread.ex#L14) instead of just the one.
I.e. generalize the line a

[2016-12-18 15:05] meadsteve commented on #80
@mgwidmann that is a very good point. My preference at the moment would be something like

[code]

[2016-12-18 15:08] meadsteve commented on #79
@mgwidmann I definitely don't have time at the moment to do this but I do really like it as an idea.

At the moment it feels like it'd be easier to run this up from scratch as a new project (obviously stealing any ideas from whitebread as needed). If it works well I'd happily redirect people to this new tool and write some tools to help with migration from whitebread. What do you think?

[2016-12-19 08:46] Dzol commented on #72
@rameshrengasamy: This documents how to do HTML reporting https://github.com/meadsteve/white-bread#html-output

[2016-12-19 17:20] mgwidmann commented on #79
Let me see if I can come up with something...

[2016-12-28 15:09] mgwidmann commented on #79
So I have the above example working in a separate project... I've extracted out `:gherkin` as a separate project since I used that to help parse the feature files... I'm going to try to publish it by extracting your commits from this repository...

But anyway, heres the new project thus far:
https://github.com/mgwidmann/cabbage

[2016-12-29 03:06] mgwidmann commented on #79
I've extracted gherkin to a separate project. Since you and the contributors to this project wrote it, I can transfer the repository to you if you'd like and post it to hex under your name.

[2016-12-29 11:40] meadsteve commented on #79
Looks really good so far. Love how much less code it needs. Regarding gherkin the other alternative is to create a cabbagex org and put both projects there. I'm happy with either really. The important thing for me is that we credit the people who made pull requests.

[2016-12-29 11:49] meadsteve commented on #79
Looks really good so far. Love how much less code it needs. Regarding gherkin the other alternative is to create a cabbagex org and put both projects there. I'm happy with either really. The important thing for me is that we credit the people who made pull requests.

[2016-12-29 14:15] mgwidmann commented on #79
Yeah so I managed (not without difficulty though) to keep the history behind all the commits in Gherkin, so everyone who contributed to the gherkin parsing is still listed as a contributor. I can make an organization to keep it all together.

[2017-01-06 16:06] rameshrengasamy commented on #72
@Dzol Thank you so much, ill try it out. I got an error when i tried to run mix white_bread.run. It might be my mistake somewhere too, as I m totally new to this framework. But i can try again and post here

** (MatchError) no match of right hand side value: []
    lib/white_bread/command_line/suite_run.ex:34: WhiteBread.CommandLine.SuiteRun.get_suites_from_config/2
    lib/white_bread/command_lin

[2017-01-06 20:15] rameshrengasamy commented on #72
@Dzol I got it working, ended up upgrading my Elixir version, it works now...Thank you

[2017-01-12 07:32] lang100 opened #82 "using environment variables in features"
is there any way of using environment variables in the features
like:  BASE PATH, USER etc.
maybe something like cucumber.yml
???

[2017-01-16 09:21] lang100 commented on #58
is there any way to config it  run without all these logs of the parsed lines?

[2017-01-19 02:59] mgwidmann commented on #79
Started an organization and published the initial version to hex.
https://hex.pm/packages/gherkin https://github.com/cabbage-ex/gherkin
https://hex.pm/packages/cabbage https://github.com/cabbage-ex/cabbage

🎉 🎈 :clinking_glasses: 🎊

[2017-01-19 07:52] meadsteve commented on #79
Amazing work!

[2017-01-19 07:53] meadsteve commented on #79
I'll do a point release of white bread to use the gherkin lib so we don't have any duplication. And add a mention of cabbage to the readme here.

[2017-01-19 14:23] Dzol commented on #72
This ticket was never closed which is a good thing because reporters (including the HTML reporter) can only do their thing on a **feature by feature** basis. The limitations are obvious: it would be nice to have a report on a **suite by suite** basis.

Some existing code has to be generalized (i.e. the code responsible for console output) to allow for another reporter which outputs **suite** infor

[2017-01-23 15:24] Dzol commented on #72
@meadsteve: PR #83 generalizes how reporting is done and improves the HTML reporting.

Here is some HTML output from the test suite (OKs should in fact be green):

<!DOCTYPE html><html><body><h1>White Bread Results</h1><p>Suite: <b>Alternate context</b></p><ul style="list-style-type:square"><li><font color="green">OK:</font> Table with step</li><li><font color="green">OK:</font> Background doc str

[2017-02-07 12:52] meadsteve opened #87 "Fix Deprecations from 1.4"
https://travis-ci.org/meadsteve/white-bread/jobs/199200105

[2017-02-07 13:53] meadsteve opened #88 "Looking for maintainers"
I've not had the time I'd like to commit to this project recently (TLDR; I've got a demanding newborn baby!).

I'm looking for anyone (ideally a few) who'd be interested in maintaining this project.

Please comment on this issue if you are interested.

[2017-02-07 13:56] meadsteve commented on #79
I've linked to cabbage from this README and whitebread is now using the cabbage gherkin lib. There's still an outstanding question of how/who should and what migration should happen from whitebread to cabbage . I'm looking for new maintainers to help out with this project (#88) so that would be something to discuss with the group that picks this up.

[2017-02-07 13:57] #79 closed

[2017-02-07 14:01] matiit opened #89 "[Minor] HEX badge is not loading"
![image](https://cloud.githubusercontent.com/assets/138194/22694132/e8b84f6a-ed3d-11e6-8e7b-dbfb389a79a6.png)

[2017-02-07 15:42] mgwidmann commented on #79
Awesome, I still have a few features to support, namely scenario outlines aren't supported yet. I'll try to put together a small road map.

[2017-02-09 16:05] meadsteve commented on #89
@matiit thanks. I've "fixed" this 7a423b0

[2017-02-09 16:05] #89 closed

[2017-02-09 16:05] matiit commented on #89
My favourite type of fix :)

[2017-05-29 03:25] kennyp commented on #88
@meadsteve even though I'm just getting started with white-bread I would be happy to lend a hand. Do you have an outline for features you would like to see next that folks could start working on?

[2017-08-20 12:05] diabolo commented on #79
First of all I'm an Elixir newly, but I am very experienced with Cucumber.

[2017-08-30 15:14] mgwidmann commented on #79
I'm not sure what you're suggesting, but the macro conversion happens unknowingly to the user who is writing all the features/tests. Basically all https://github.com/cabbage-ex/cabbage is doing is utilizing the standard test environment in Elixir so that we're not writing a testing framework twice and having people learn two different frameworks to test their code.

If you have an idea on how thin

[2017-09-06 09:37] leifg commented on #88
I can take some tasks from time to time but I'm not the best person for this as I am far from working full time with cucumber.

Does it make sense to merge this project with [cabbage-ex/cabbage](https://github.com/cabbage-ex/cabbage) or at least use cabbage as a base for the execution?

[2017-09-06 10:54] meadsteve commented on #88
At the moment I don't really have any roadmap for this. I'd be happy for this to be fully merged with cabbage. The main difference as I see it is cabbage is built on top of exunit whereas I build whitebread as a standalone tool. So the only reason for both projects to exist is if there are some benefits to keeping separate from exunit.

[2017-09-07 06:40] #87 closed

[2018-01-11 09:37] daveed-al commented on #88
@meadsteve I would be interested in contributing to this project. Please let me know what needs to be done to be a cucumber implementation.
I am using the concept of "World" in cucumber https://github.com/cucumber/cucumber/wiki/Configuring-the-Scenario-Execution-Context-(World)
Is it something that need to be done and would it make sense to do it as there is no instance in Elixir?

[2018-01-24 03:59] danielfoxp2 commented on #79
I have to agree with @diabolo. This approach is far from what cucumber is (afaik). It breaks the pattern found across cucumber implementations.

In SpecFlow (the .Net version of cucumber), for example, I am able to run my SpecFlow Scenarios with MSTests, Nunit, xUnit. In Ruby you have minitest, rspec... In javascript once was possible to work with jasmine to make the assertions (I did it couple of

[2018-01-30 22:12] mgwidmann commented on #79
I think if you'd like to support other frameworks like `ESpec`, it would be easier done in [cabbage-ex/cabbage](https://github.com/cabbage-ex/cabbage). If you open an issue there I would consider it if we got enough support for it.

[2018-01-31 07:37] meadsteve commented on #79
I agree with @mgwidmann ^ . I disagree that this is "far from what cucumber is" but cabbage is definitely a neat approach for fitting in with existing tools

[2018-02-27 04:04] marnen commented on #88
@meadsteve:

That's a big benefit. I use ESpec, not ExUnit, and Cabbage's dependence on ExUnit turned me off.

[2018-02-27 08:06] meadsteve commented on #88
@marnen might be interesting to see how easy it'd be to convert Cabbage to run on Espec. That way you could have an adapter that plugs in ESpec and an adapter that plugs in ExUnit.

BYOTR - Bring your own test runner.

[2018-02-27 13:38] marnen commented on #88
That's an interesting idea, though I'm probably not experienced enough in Elixir to do that anytime soon. I also am not sure I like that approach architecturally...

[2018-02-27 13:40] marnen commented on #88
...compare cucumber-ruby, which is completely agnostic about which test framework it uses; the steps just call arbitrary Ruby code. I think that's the proper model for such a tool.

[2018-02-27 13:53] marnen commented on #88
All of this is to say that while Cabbage is clever, I think it's fundamentally barking up the wrong tree, and instead of putting the effort into writing an ESpec adapter for Cabbage, I'd rather put it into helping white_bread (or something like it) succeed.

[2018-03-07 17:07] marnen commented on #78
Fixed by #95.

[2018-03-07 17:07] #78 closed

[2018-03-14 21:03] ringods commented on #88
@marnen the big reason for me to split the test framework (in this case BDD) from the test runner is that you can use all other additions/plugins which build on top of a certain test runner.

As an example, in my day job I have been working on a [pytest](https://docs.pytest.org/en/latest/) plugin for the [mamba](https://github.com/nestorsalceda/mamba) BDD framework. However, the mamba team impleme

[2018-03-14 21:09] marnen commented on #88
@ringods Interesting, but I'm not sure how you mean that to apply to White-Bread/Cucumber/Cabbage/etc. Can you clarify?

[2018-03-14 21:14] marnen commented on #88
@ringods Also see #96.

[2018-03-20 12:20] Kosmas commented on #88
@meadsteve I would like to help in any way possible. Have been the maintainer for cucumber-rails for quite some time, but have not been using rails a lot lately. And my next project will be in Elixir so I would be using white-bread hopefully. If there's anything I could help with, please let me know.

[2018-08-08 22:33] victorolinasc commented on #88
@meadsteve I see plenty of people are volunteering to maintain the project. Do you or anybody else have any updates on this?

I am starting some BDD discussions where I work and I think that a well updated library is due on the community. I can help too if there is need.

Was just wondering the state of things here. Cabbage seems un-maintained currently. It does not compile on Elixir 1.7 and there

[2018-08-09 06:52] meadsteve commented on #88
So it turns out I missed some notifications for this issue 😳. I've actually a little more time than when I opened this issue. So I've been applying bug fixes and reviewing small features.

What I won't have time for is stearing the future direction of this project. So ideally I'm still looking for a few people to take on a role like this.

[2018-10-25 13:57] jpagex opened #104 "Add support for Elixir 1.7"
For example, we have this warning with Elixir 1.7:
`warning: not passing the :switches or :strict option to OptionParser is deprecated`

[2018-11-25 12:01] meadsteve commented on #104
@jpagex I can't actually see this warning myself. Can you confirm if you're on version 4.3.0 of whitebread as this is when 1.7 support was added.

[2018-12-07 03:11] john-hu opened #106 "support correct duration value at JSON outputter"
The duration value of JSON report is always 1. We should output the correct duration value since it is also important for evaluating the code quality.

[2018-12-07 07:40] meadsteve commented on #104
Closing this now but let's re-open or create specific bugs when they come up 👍

[2018-12-07 07:40] #104 closed

[2018-12-07 07:42] meadsteve commented on #106
Thanks for reporting 👍 I agree this is an important thing to have

[2018-12-07 09:56] jpagex commented on #104
Maybe I was not on the version 4.3.0. I'll let you know if I encounter other warnings.

[2019-05-11 16:16] confucius opened #110 "espec not launched"
ESpec is not fired despite being specified as the testing library in the WhiteBread context file:

loading all contexts from features/contexts/**
** (exit) exited in: GenServer.call(:espec_specs_agent, {:update, #Function<0.60990145/1 in ESpec.add_spec/1>}, 5000)
    ** (EXIT) no process: the process is not alive or there's no process currently associated with the given name, possibly because its

[2019-05-31 11:35] meadsteve commented on #110
@confucius I think this is a flaw with the documentation. ` test_library: :espec` only tells whitebread to use espec assertions. Espec needs to be started up outside of whitebread.

[2019-09-02 20:11] GPrimola opened #111 "Let the client configure the JSON library"
After Phoenix opinionated on Jason as its default JSON library (configurable), there's a tendency to generally use Jason.
Regarding white-bread, I think the best approach would be to be non-opinionated regarding that and let the client configure that, since Jason and Poison have the same interface (behaviour) it wouldn't be a problem.
For the client to use I suggest something like:

[code]

Thank

[2019-10-30 09:17] karlosmid commented on #88
Would like to be part of this project.

[2020-03-09 08:22] jidegithub opened #112 "Deprecated Functions Dict.put and Dict.get"
As at Elixir v1.2, Dict.get and Dict.put has been deprecated and replaced with Map.get and Map.put respectively.
see Documention:
https://hexdocs.pm/elixir/1.8.2/Dict.html#content

[2020-09-14 13:57] #88 closed

[2020-09-14 13:59] meadsteve opened #114 "Looking for new owner"
Following on from #88 I don't really use elixir these days so I'm looking for someone to take over ownership of this project. Reply with your interest and we'll discuss how to do the handover.

In the meantime I'll keep basic maintenance up to date but only urgent bug fixes will be merged.

[2020-09-14 14:09] marnen commented on #114
Why not see if the Cucumber project will take this under their wing?

[2020-09-14 14:09] marnen commented on #114
Also, closing #88 made it harder to follow the discussion. :)

[2020-09-14 14:26] meadsteve commented on #114
@marnen harder for others but easier for me. Consider this a form of "issue bankruptcy". The cucumber route is an interesting one. This project isn't technically a cucumber (it's more "inspired by" than a direct implementation) but it might still might be an interesting route to investigate.

[2020-09-14 15:44] marnen commented on #114
Why is it easier for you to follow the discussion here? Wouldn’t you get the same notifications regardless?

Also, I think white-bread *is* essentially a Cucumber implementation. I think the Cucumber project accepted Godog, which I believe was originally an independent Cucumber-like project in Go (I’ve never used it, but that’s at least how it seems from discussions I’ve looked at). If that’s so,

[2020-10-30 09:52] BigTom commented on #114
I would be interested in taking this on, and "converging" it towards cucumber.
I am a relative newbie with Elixir and this would be a great way of keeping my learning curve going while giving back to the community.

[2020-11-04 09:47] meadsteve commented on #114
@BigTom sounds good. I can make you an admin for this repo whilst we start to figure out the transfer

[2020-11-04 11:33] BigTom commented on #114
That would be great, thanks!

[2020-11-04 11:42] meadsteve commented on #114
you should have an invite from github asking you to be a collaborator of this repo.

[2020-11-29 14:46] BigTom commented on #114
Hi Steve,

Thanks for your patience.

I am feeling a bit intimidated by the code base.  How would you feel about giving me a guided tour via a zoom session?  To get me started?

Thanks

Tom

[2020-12-02 08:06] meadsteve commented on #114
@BigTom That's a good idea (though my schedule is a bit jam packed at the moment). Why don't you email me on my github user name @gmail.com and we can sort something out.

That said it's been so long that I've worked on this code (or with elixir) it may be a bit of a learning exercise for me too.

[2022-01-11 16:38] tshakah commented on #114
Any update on this?

[2022-01-11 16:42] marnen commented on #114
Paging @aslakhellesoy to help bring the Cucumber project into the discussion.

[2022-01-11 21:42] aslakhellesoy commented on #114
Thanks for the heads up. I’ll discuss this with the Cucumber core team.

[2022-05-27 01:31] srbaker commented on #114
I'm using White Bread on a project, and had considered simply forking it.  But if you're still looking for a new maintainer, I'd be happy to.  I am using it in a Phoenix project now, and will be using it in others.  Also happy to help the Cucumber project to make it "official."

[2022-05-27 06:14] meadsteve commented on #114
Hi @srbaker I stopped working on this when I stopped actively writing elixir code (though I still find the language fascinating).  Maybe as a first step I could add you as an admin to this project and we can talk about what the next steps are. Feel free to email me: steve at meadsteve.dev.

[2022-05-27 10:05] srbaker commented on #114
Sure thing, will do.

[2022-05-27 17:14] srbaker commented on #114
Got it!  I'm going to fix the deprecations, and start working through issues.  And we'll get a new, modern release prepared over the coming weeks. :D